// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.computers {
    margin-top: 50px;
}

.computer {
    margin-bottom: 50px;
}

.card-bottom {
    position: absolute;
    bottom: 8px;
    right: 15px;
}

.card-top {

}
